body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    margin-top: 75x;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #1f1f20;
    border-radius: 5px;
    padding: 10px;
}
.header {
  margin-top: 50px;
  line-height: 10px;
  text-align: center;
}
.gambarheader {
  width: 300px;
}
.gambarkonten {
  width: 300px;
}
.judulheader {
  color: red;
  text-transform: uppercase;
  font-weight: 1200;
}
h1 {
  color: rgb(9, 9, 9);
  text-transform: uppercase;
  font-weight: 1200;
}
h4 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
